@model IndyBooks.ViewModels.SearchViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Search";
}

<h3>Find Books</h3>
<form asp-action="Search" asp-controller="Admin">
    <div>
        Title to Find: <input asp-for="Title" />
    </div>
    <div>
        Author to Find: <input asp-for="Author" />
    </div>
    
    <div>
        Min Value: <input asp-for="MinPrice" type="number"  min="0" />
        Max Value: <input asp-for="MaxPrice" type="number" max="100" />
    </div>

    <div>
        <input type="submit" value="Search"/>
    </div>
</form>
